<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main th:object="${order}">
    <div class="card bg-primary text-white">
        <h3 class="card-header">Order Information</h3>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <div>Order Number:</div>
                    <input th:field="*{id}" class="form-control" readonly>
                </div>
                <div class="form-group col-sm-4">
                    <div>Purchaser:</div>
                    <input th:field="*{account.username}" class="form-control" readonly>
                </div>
                <div class="form-group col-sm-4">
                    <div>Purchased Date:</div>
                    <input th:field="*{createDate}" class="form-control" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-sm-12">
                    <div>Shipping Address:</div>
                    <textarea th:field="*{address}" class="form-control" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card bg-primary text-white">
        <h3 class="card-header">Order Lines:</h3>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <!--chạy được là được báo đỏ ko quan trọng-->
                <!--orderDetail được lưu trong entity nhưng ko được lưu trong db???-->
                <tr th:each="detail: *{orderDetail}" th:object="${detail}">
                    <td>[[*{product.id}]]</td>
                    <td>[[*{product.name}]]</td>
                    <td>$[[*{#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}]]</td>
                    <td>[[*{quantity}]]</td>
                    <td>$[[*{#numbers.formatDecimal(price * quantity, 0, 'COMMA', 2, 'POINT')}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>